{% block header %}
    <h3>Bienvenid@ {{ app.user.username }}</h3>
    <ul>
        <li><a href="{{ path('familia') }}">Listado de las familias</a> </li>
        <li><a href="{{ path('cesta') }}">Mi cesta</a> </li>
        <li><a href="{{ path('pedidos') }}">Todos mi pedidos</a> </li>
        <li><a href="{{ path('app_logout') }}">Desconectarme</a> </li>
    </ul>
{% endblock %}