{% extends 'base.html.twig' %}

{% block title %} Cesta de la compra {% endblock %}

{% block contenido %}

    <table>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Código</th>
            <th>Eliminar</th>
        </tr>
        {% for productos in carro %}
            <tr>
                <td>{{productos.producto.nombre}}</td>
                <td>{{productos.producto.precio}}</td>
                <td>{{productos.unidades}}</td>
                <td>{{productos.producto.getCod()}}</td>
                <td>
                    <form action="{{ path('eliminar', {'producto_id': productos.producto.getId()}) }}" method="POST"> 
                        <input type="number" name="unidades" value="1"/> 
                        <input type="submit" name="eliminar" value="Eliminar"/> 
                        <input type="hidden" name="cod_prod" value="{{ productos.producto.getCod() }}"> 
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    
        <p> El precio total es: <b> {{ precioTotal }} </b> euros </p>
        
        <form action="{{ path('pedido') }}" method="POST">
            <input type="submit" name="pagar" value="Pagar"/>
        </form>

{% endblock %}

